// COLORS
$primary-color:#0FF207;
$secondary-color: #6FF26B;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #F2F2F2;

$dark-grey:#0D0D0D;

$dark-blue-text: #0D0D0D; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
